<!doctype html>
<p>Your order for is complete!</p>
<html lang="en">
{% block page_content %}
<p>Booking for {{ user.username }}</p>
<p>Tickets for: {{ showtime.movie.title }}</p>
<p> at {{ showtime.time }} on {{ showtime.date }}</p>
Number of Tickets: {{ number_seats }}
{% if booking.number_adult %}
    adult: {{ booking.number_adult }}
{% endif %}
{% if booking.number_child %}
    child: {{ booking.number_child }}
{% endif %}
{% if booking.number_senior %}
    senior: {{ booking.number_senior }}
{% endif %}

<p>Seats selected:</p>
{% for i in seats %}
    <p>Seat: {{ i.ticket_id }}</p>
{% endfor %}

<p>Price: {{ price }}</p>

<button><a href="{% url 'home2' %}">Return to Home</a></button>
{% endblock %}
</html>