<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <!-- Link style.css here-->
    {% load static %}
    <link href="{% static 'main./navbarstyle.css' %}" rel="stylesheet">
    <link href="{% static 'main./homepagestyle.css' %}" rel="stylesheet">

    <!-- link fontawesome -->
    <link  href="{% static 'main./fontawesome-free-5.15.4-web/' %}" rel="stylesheet">

    <!-- link bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>

<body>
  <section style=" background-image: linear-gradient(black, steelblue); height: 2500px;">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <img class="logo-image" src="{% static 'main./logo.jpg' %}" height="54" width="54">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home2' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'coming_soon' %}">Coming Soon</a>
              </li>
             

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                    Category
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'action_movie' %}">Action</a></li>
                    <li><a class="dropdown-item" href="{% url 'adventure_movie' %}">Adventure</a></li>
                    <li><a class="dropdown-item" href="{% url 'animation_movie' %}">Animation</a></li>
                    <li><a class="dropdown-item" href="{% url 'comedy_movie' %}">Comedy</a></li>
                    <li><a class="dropdown-item" href="{% url 'drama_movie' %}">Drama</a></li>
                    <li><a class="dropdown-item" href="{% url 'scifi_movie' %}">Sci-Fi</a></li>
                    <li><a class="dropdown-item" href="{% url 'thriller_movie' %}">Thriller</a></li>
                  </ul>
                  </li>
                  
                  <form class="d-flex" method="get" action="{% url 'search_bar' %}">
                    <input class="form-control" name="search" type="search" placeholder="Movie name" aria-label="Search">
                    <button class="btn1" type="submit">Search</button>
                  </form>  
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_page' %}">My Profile</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_page' %}">Logout</a>
              </li>
            </ul>
          </div>    
          </div>
        </div>
      </nav>
    
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        
        </div>
        <div class="carousel-inner" style="height: 400px;">
          
          <div class="carousel-item active">
          <a href="#now-showing"><img src="{% static 'main./dealbanner.jpg' %}" class="d-block w-100" style="height: 400px; padding-right:300px; padding-left:300px; background-color: black;" alt="..."></a>
          </div>
          <div class="carousel-item">
            <a href="#now-showing"><img src="{% static 'main./uncharteredbanner.jpg' %}" class="d-block w-100" style="height: 400px; padding-right:300px; padding-left:300px; background-color: black;" alt="..."></a>
          </div>
          <div class="carousel-item">
          <a href="./moonfallmovietrailer.html"><img src="{% static 'main./mooncover.jfif' %}" class="d-block w-100" style="height: 400px; padding-right:300px; padding-left:300px; background-color: black;" alt="..."></a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    

      {% load embed_video_tags %}
      {% block page_content %}

        {% if smovies.all %} 
        <h3 class="part1" id="now-showing">NOW PLAYING</h3>     
        {% for movie in smovies %}  
        <div class="row py-5">
            <div class="col lg-4">
              <div class="card">
                <a href=""><img src="{{ movie.picture.url }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <a href="{% url 'movie_info' movie.slug %}" style="text-decoration: none;">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <h5 class="card-title">{{ movie.rating }}</h5>
                </a>
                  </div>
                <div class="btn2">
                  <a href="{% url 'book_movie' movie.slug %}" class="view-movie-button1">Book Tickets</a>
                  <a href="{% url 'movie_info' movie.slug %}" class="view-movie-button2">Info</a>
                </div>

              </div>
            </div>
        </div>
        <br>
        <br>
        {% endfor %}
        {% endif %}
        {% if cmovies.all %} 
        <h3  class="part2"  id="coming-soon">COMING SOON</a></h3>
        {% for movie in cmovies %}  
        <div class="row py-5">          
          <div class="col lg-4">
            <div class="card">
              <a href=""><img src="{{ movie.picture.url }}" class="card-img-top" alt="..."></a>
              <div class="card-body">
                <a href="{% url 'movie_info' movie.slug %}" style="text-decoration: none;">
                  <h5 class="card-title">{{ movie.title }}</h5>
                  <h5 class="card-title">{{ movie.rating }}</h5>
              </a>
              </div>
              <div class="btn2">
                <a href="{% url 'movie_info' movie.slug %}" class="view-movie-button2">Info</a>
              </div>                
            </div>
          </div>
        </div>
        <br>
        <br>
        {% endfor %}
        {% endif %}
      </div>
     </div>
    </div>
  </section> 

</body>
{%endblock%}
