<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap Example</title>
      <link href = "/bootstrap/css/bootstrap.min.css" rel = "stylesheet">
      <script src = "/scripts/jquery.min.js"></script>
      <script src = "/bootstrap/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class = "container">
         <p>Select your seats</p>

    <form class="d-flex" method="POST" action="">
        {%csrf_token%}
    {% block page_content %}
    {{ number_seats }}
    {% for t in tickets %}
             {% if t.id|divisibleby:"5"  %}
             <input type = "checkbox" value = "{{t.ticket_id}}" id = "{{t.ticket_id}}" name="tag" {% if t.reserved %}checked{% endif %}>{{ t.ticket_id}}
<br>
             {% else %}
             <label class = "checkbox-inline">
               <input type = "checkbox" value = "{{t.ticket_id}}" id = "{{t.ticket_id}}" name="tag" {% if t.reserved %}checked{% endif %}>{{ t.ticket_id }}
            </label>
            {% endif %}
             {% endfor %}
    <button type="submit" name="submit" value="">Book</button>   
</form>

      </div>
   </body>
</html>
{%endblock%}