<!doctype html>
<html lang="en">
{% block page_content %}
<p>Tickets for: {{ showtime.movie.title }}</p>
<p> at {{ showtime.time }} on {{ showtime.date }}</p>


<form method="post">
    {% csrf_token %}
    {% for field in b_form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
      <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Book</button>
  </form>
{%endblock%}
</html>