<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Link style.css here-->
    {% load static %}
    <link href="{% static 'main./changepassword.css' %}" rel="stylesheet">
    <link href="{% static 'main./navbarstyle.css' %}" rel="stylesheet">

    <!-- link fontawesome -->
    <link  href="{% static 'main./fontawesome-free-5.15.4-web' %}" rel="stylesheet">
    
    <!-- link bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
  </head>

  <body>
    <section>
    
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <img class="logo-image" src="{% static 'main./logo.jpg' %}" height="54" width="54">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./seats.html">Show Times</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                      Category
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Adventure</a></li>
                      <li><a class="dropdown-item" href="#">Animation</a></li>
                      <li><a class="dropdown-item" href="#">Comedy</a></li>
                      <li><a class="dropdown-item" href="#">Drama</a></li>
                      <li><a class="dropdown-item" href="#">Sci-Fi</a></li>
                      <li><a class="dropdown-item" href="#">Thriller</a></li>
                    </ul>
                    </li>
                
                <form class="d-flex">
                  <input class="form-control" type="search" placeholder="Movie name" aria-label="Search">
                  <button class="btn1" type="submit">Search</button>
                </form>
                  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login_page' %}">Login</a>
                  </li>
                </ul>
              </div>    
              </div>
            </div>
          </nav>
{% block head_title %}Password reset{% endblock head_title %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <h2 class=" my-5" style="color: white; margin-left: 515px; padding-top: 65px;">Reset Password</h2>
      <form method="post">
        {% csrf_token %}
        <div class="card-body" style="height: 150px; width: 450px; margin-left: 420px;">
        <div class="form-group" style="color: black;">
          {{ form.email.label_tag }}
          <input type="email" class="form-control" id="id_email" name="email" value='{{ form.email.value|default:"" }}' style="width: 415px;">
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: black; color: white; margin-left: 40px; margin-top: 20px;">Reset Password</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}