<html>
{% block content %}
<div class="text-center" style="background-image: linear-gradient(black, steelblue); color: white; height: 100%;">
    <div class="text-center" style="margin-left: 550px; padding-top: 150px;">
      <div class="alert alert-success mt-5" role="alert" style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:x-large">
        Your password has been changed successfully!
      </div>
      <button style="background-color: black; color: white; padding: 10px; margin-top: 40px; border-radius: 10px; margin-left: 150px;"><a href="{% url 'profile_page' %}" class="btn btn-primary" style="color: white;">Return to Profile</a></button>
    </div>
  </div>
{% endblock content %}
</html>

