{% block content %}
<html>
<div  class="text-center" style="background-image: linear-gradient(black, steelblue); color: white; height: 100%;">
  <h1 class="my-5" style="padding-left: 690px; padding-top: 100px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Password Reset</h1>

        <div class="text-center" style="margin-left: 150px; padding-top: 50px; ">
        <h3 class="col-md-12" id="mDescrip" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;">We have sent you instructions for setting your password, if an account
          exists with the email you entered you should receive them shortly.
       </h3>
        <h2 class="col-md-12" id="mDescrip" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">If you haven't received an email, make sure you've entered the address you
          signed up with and check your spam folder.</h2>
        </div>
</div>
</html>
{% endblock content %}