<!-- templates/users/password_reset_email.html -->
<html>
<div  class="text-center" style="background-image: linear-gradient(black, steelblue); color: white; height: 100%;">
    <div class="text-center" style="margin-left: 480px; padding-top: 150px; ">
    <p class="col-md-12" id="mDescrip">
    Hi there,<br>
    To reset your password for the user {{ user.username }}, click the link below:<br>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    <br><br>
    If the above link does not work, you are straight out of luck because this is strictly for demo purposes. <br>
    Regards,<br>
    The Cinema Ebooking System Team and our Mascot Jeff the Golden Retriever.
    </p>
</div>
</div>
</html>


