<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Confirmation</title>
<!-- Bootstrap -->
    <link rel="stylesheet" href="./bootstrap.css">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>

<body style="background-image: linear-gradient(black, steelblue); "><br><br><br><br>
<h2 class="text-center" style=" color: white;">Ticket Confirmation</h2>
<div class="container">

    <form >
        <div class="text-center" style="color: white;">
          <p class="col-md-12" id="mDescrip">Your Ticket details are..</p>
          <p class="col-md-12" id="mDescrip">Movie Name: MoonFall</p>
          <p class="col-md-12" id="mDescrip">Screen: 1</p>
          <p class="col-md-12" id="mDescrip">Time and Date: 02/22/2022</p>
          <p class="col-md-12" id="mDescrip">A confirmation email will be sent.</p>
          <h4 class="text-center">THANK YOU!</h4>
        </div>
    </form>
  
</div>

<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>

</body>
</html>

 